/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */
.sp-slider-block-parent {
	position: relative;

	&:before {
		position: absolute;
		width: 100%;
		height: 100%;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
	}

	.slider-item {
		height: 650px;
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center center;
		position: relative;
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: center;

		&.text-left {
			justify-content: flex-start;
		}

		&.text-right {
			justify-content: flex-end;
		}

		&.verticle-top {
			align-items: baseline;
		}

		&.verticle-bottom {
			align-items: flex-end;
		}


		& h3 {
			font-size: 64px;
			line-height: 72px;
			color: #fff;
			margin-bottom: 30px;
		}

		& p {
			font-size: 18px;
			display: block;
			margin-bottom: 30px;
		}

		& a {
			padding: 10px;
			text-align: center;
			background-color: black;
		}
	}


}